.selectedEmo {
    position: relative;
    /* background-color: #fff; */
  }

  .selectedEmo:after {
    border: .1em solid rgb(224, 219, 209);
    border-top: none;
    border-radius: 1.5em 1em 2em 1.5em;
    bottom: -.3em;
    content: '';
    left: -.1em;
    position: absolute;
    right: -.3em;
    top: -.1em;
  }

  .selectedEmo:before {
    border-top: .1em solid rgb(224, 219, 209);
    border-radius: .5em;
    content: '';
    height: 1em;
    left: 0;
    position: absolute;
    top: -.3em;
    transform: rotate(-10deg);
    width: 4em;
  }